{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">

<link rel="stylesheet" href="profile.css">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <formp>
            <h3>Login Here</h3>



            <form method="POST">
            <label>Username</label>
            <input type="email" name="email" class="email" placeholder="Почта">

            <label>Password</label>
            <input type="password" name="password" class="password" placeholder="Пароль">
            <a href="/account">Sign in</a>

            <input type="submit" class="btn btn-success" value="Отправить">
            </form>
        </formp>{% endblock %}